/* $Id$ */

/* some main styles */

body {
  background-color: #fff;
  font-family: Lucida Grande, Lucida Sans Unicode, sans-serif;
  font-size: 0.8em;
}
a {
  color: #0979C1;
}

/* tables */

table {
  width: 100%;
}

th {
  font-size: 0.8em;
}

/* forms */

.description, .filter-guidelines li {
  color: #7A7B75;
}
form label {
  text-transform: uppercase;
}
#node-form-buttons {
  padding-top: 2em;
}

#edit-switch-wrapper {
  padding: 10px;
  background-color: #fff7c9;
  margin-top: 0;
}

.horizontal-tabs > ul {
  padding-bottom: 0px;
}

.horizontal-tab-section {
  margin-top: 10px;
}

#node-form-floating-buttons-wrapper {
  background-color: #E0E0D8;
  padding: 10px 20px;
  margin-left: -40px;
}

/* Form buttons */
button { 
	position: relative;
	border: 0; 
	padding: 0;
	cursor: pointer;
	overflow: visible; /* removes extra side padding in IE */
}
button::-moz-focus-inner {
	border: none;  /* overrides extra padding in Firefox */
}
button span { 
	position: relative;
	display: block; 
	white-space: nowrap;	
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Safari and Google Chrome only - fix margins */
	button span {
		margin-top: -1px;
	}
}
button.form-submit { 
	margin-right:5px; 
	font-size: 1.3em; 
	text-align: center; 
	background: transparent url(images/btn_std_rt.png) no-repeat right top; 
	padding-right: 12px;
}
button.form-submit span {
	padding: 3px 0 0 12px; 
	height: 27px; 
	background: transparent url(images/btn_std_lt.png) no-repeat left top; 
	color: #5A5A5A; 
}
button.form-submit.form-button-emphasized {
	background: transparent url(images/btn_emph_rt.png) no-repeat right top; 
}
button.form-submit.form-button-emphasized span {
	background: transparent url(images/btn_emph_lt.png) no-repeat left top; 
        color: #00273F;
}
button.form-submit:hover, button.submitBtnHover {
	/* ... */
}
button.form-submit:hover span, button.submitBtnHover span {
	/* ... */ 
}
