/* $Id$ */

/**
 * jQuery UI Dialog classes.
 */
.overlay {
  color: #000;
  padding-right: 30px;
}
.overlay .ui-dialog-titlebar {
  position: relative;
  height: 30px;
  white-space: nowrap;
  z-index: 2;
}
.overlay .ui-dialog-title {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.2em 0.5em;
  padding: 0;
  color: #fff;
  font-size: 20px;
}
.overlay .ui-dialog-titlebar-close {
  display: block;
  position: absolute;
  right: -24px;
  top: 30px;
  margin: 0;
  padding: 5px 1px 0 0;
  width: 23px;
  height: 20px;
  background: #fff url(images/close.png) no-repeat 1px 5px;
  border-radius: 0 15px 15px 0;
  -moz-border-radius: 0 15px 15px 0;
  -webkit-border-top-right-radius: 12px;
  -webkit-border-bottom-right-radius: 12px;
}
.overlay .ui-dialog-titlebar-close span {
  display: none;
}
.overlay .ui-dialog-content {
  color: #292929;
  background-color: #f8f8f8;
}

/**
 * ui-dialog overlay.
 */
.ui-widget-overlay {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/**
 * Overlay content and shadows.
 */
#overlay-container {
  margin: 0;
  padding: 0;
  background: #fff url(images/loading.gif) no-repeat 50% 50%;
}
#overlay-container div.overlay-shadow-bottom {
  height: 15px;
  background: transparent url(images/gradient-vertical.png) repeat-x scroll 0 0;
  margin: -6px 0 0 -15px;
}
#overlay-container div.overlay-shadow-bottom img {
  margin-left: -15px;
}
#overlay-element {
  margin: 0;
  padding: 0;
  border: none;
}
#overlay-container div.overlay-shadow-right {
  position: absolute;
  top: 26px;
  right: 15px;
  width: 15px;
  height: 100%;
  background: transparent url(images/gradient-horizontal.png) repeat-y scroll right center;
  z-index: 1;
}

/**
 * Tabs on the overlay.
 */
.ui-dialog-titlebar ul {
  float: right;
  border-bottom: none;
  margin: 0;
  padding: 10px 0 0;
  line-height: normal;
  text-transform: uppercase;
  font-size: 12px;
}

.ui-dialog-titlebar ul li {
  display: inline;
  list-style: none;
  margin-left: 1px;
}

.ui-dialog-titlebar ul li {
  background: transparent url(images/tab_inactive_rt.png) no-repeat top right;
  padding: 5px 8px 7px 0;
}

.ui-dialog-titlebar ul li a,
.ui-dialog-titlebar ul li a.active,
.ui-dialog-titlebar ul li a:active,
.ui-dialog-titlebar ul li a:visited {
  background: transparent url(images/tab_inactive_lt.png) no-repeat;
  color: #000;
  font-weight: bold;
  padding: 5px 15px 7px 20px;
}

.ui-dialog-titlebar ul li.active,
.ui-dialog-titlebar ul li:hover {
  background: transparent url(images/tab_active_rt.png) no-repeat center right;
}

.ui-dialog-titlebar ul li:hover a,
.ui-dialog-titlebar ul li.active a,
.ui-dialog-titlebar ul li.active a.active,
.ui-dialog-titlebar ul li.active a:active,
.ui-dialog-titlebar ul li.active a:visited,
.ui-dialog-titlebar ul li a:hover,
.ui-dialog-titlebar ul li.active a:hover {
  background: transparent url(images/tab_active_lt.png) no-repeat;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 5px 15px 7px 20px;
}
