/* $Id$ */

/**
 * jQuery UI Dialog classes.
 */
.overlay {
  color: #000;
  padding-right: 30px;
}

.overlay .ui-dialog-titlebar {
  position: relative;
  height: 30px;
  white-space: nowrap;
  z-index: 2;
}

.overlay .ui-dialog-title {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 0.2em 0.5em;
  padding: 0;
  color: #fff;
  font-size: 20px;
}

.overlay .ui-dialog-titlebar-close {
  display: block;
  position: absolute;
  right: -26px;
  top: 30px;
  margin: 0;
  padding: 0;
  width: 26px;
  height: 26px;
}

.overlay .ui-dialog-titlebar-close-bg {
  background: transparent url(images/close.png) no-repeat;
  width: 32px;
  height: 36px;
  position: absolute;
  right: -32px;
  top: 30px;
  opacity: 0;
  filter: alpha(opacity=0);
}

.overlay .ui-dialog-titlebar-close span {
  display: none;
}

.overlay .ui-dialog-content {
  color: #292929;
  background-color: #f8f8f8;
}

/**
 * ui-dialog overlay.
 */
.ui-widget-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/**
 * Overlay content and shadows.
 */
#overlay-container {
  margin: 0;
  padding: 0;
  background: #fff url(images/loading.gif) no-repeat 50% 50%;
}

#overlay-container div.overlay-shadow {
  position: absolute;
  z-index: 1;
  opacity: 0;
  filter: alpha(opacity=0);
}

#overlay-container div.overlay-shadow-bottom {
  height: 15px;
  background: transparent url(images/ovrly-shdw-bt.png) repeat-x;
  margin: -5px 0 0 15px;
  position: relative;
}

#overlay-element {
  margin: 0;
  padding: 0;
  border: none;
  overflow: hidden;
}

#overlay-container div.overlay-shadow-right {
  top: 30px;
  right: 15px;
  width: 15px;
  background: transparent url(images/ovrly-shdw-rt.png) repeat-y;
}

#overlay-container div.overlay-shadow-bottom-right {
  bottom: -15px;
  left: 0px;
  width: 15px;
  height: 15px;
  background: transparent url(images/ovrly-shdw-bt-rt.png) no-repeat;
}

#overlay-container div.overlay-shadow-bottom-left {
  top: 0px;
  left: -15px;
  width: 15px;
  height: 15px;
  background: transparent url(images/ovrly-shdw-bt-lt.png) no-repeat;
}

/**
 * Tabs on the overlay.
 */
.ui-dialog-titlebar ul {
  float: right;
  margin: 0 0 -10px 0;
  padding: 3px 0 0 8px;
  line-height: 30px;
  text-transform: uppercase;
  font-size: 12px;
}

.ui-dialog-titlebar ul li {
  display: inline;
  list-style: none;
  margin-left: 0;
}

.ui-dialog-titlebar ul li a,
.ui-dialog-titlebar ul li a:active,
.ui-dialog-titlebar ul li a:visited,
.ui-dialog-titlebar ul li a:hover {
  background-color: #a6a7a2;
  -moz-border-radius: 8px 8px 0 0;
  -webkit-border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  border-radius: 8px 8px 0 0;
  color: #000;
  font-weight: bold;
  padding: 8px 20px 3px 20px;
  text-decoration: none;
}

.ui-dialog-titlebar ul li.active a,
.ui-dialog-titlebar ul li.active a.active,
.ui-dialog-titlebar ul li.active a:active,
.ui-dialog-titlebar ul li.active a:visited {
  background-color: #fff;
  padding: 8px 20px 5px 20px;
}

.ui-dialog-titlebar ul li a:hover {
  color: #fff;
}

.ui-dialog-titlebar ul li.active a:hover {
  color: #000;
}
