/* $Id$ */

tr.odd.hover, tr.odd.active {
  background-color: #d2e6f2;
}

tr.odd.hover td.active, tr.odd.active td.active {
  background-color: #c2dded;
}

tr.even.hover, tr.even.active {
  background-color: #dcebf5;
}

tr.even.hover td.active, tr.even.active td.active {
  background-color: #cce2f0;
}

tr.hover div.accordion-options a, tr.active div.accordion-options a {
  color: #0267ff;
  font-weight: bold;
}

div.accordion-form {
  display: none;
}

tr.accordion-row {
  background-color: #fff7c9;
}

div.accordion-form {
  max-height: 400px;
  overflow: auto;
}

div.accordion-options div.option {
  float: left; /* LTR */
  padding-right: 20px; /* LTR */
}

div.option.active a {
  color: #000000;
}

div.accordion-throbber {
  width: 15px;
  height: 15px;
  margin: 2px;
  background: transparent url(throbber.gif) no-repeat 0px -18px;
  float: left; /* LTR */
}
