/* $Id$ */

/*
** Highlighted regions for actions.js.
*/
.action-link-icon {
  font-size: 1px;
  padding-top: 14px;
  padding-right: 14px;
  margin-left: -4px;
  background-color: #000000;
}

.action-link-icon-configure {
  background-image: url(configure.png);
}

.action-link-icon-delete {
  background-image: url(delete.png);
}

.action-link-icon-edit {
  background-image: url(edit.png);
}

.actions-enabled-region {
  outline: dashed #000000 2px;
  position: relative;
}

.active-actions-region {
  outline-style: solid;
}

ul.action-links {
  position: absolute;
  right: 0;
  top: 0;
  padding: 0;
  margin: 0;
}

ul.action-links li {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline;
  line-height: 100%;
}

ul.action-links li a {
  text-decoration: none;
}
